* {
  margin: 0;
  padding: 0;
}
body {
  background: #141619;
  overflow-x: hidden;
}
.header {
  display: flex;
  padding: 22px 63.984px 22px 339px;
  background: #141619;
  justify-content: space-between;
  align-items: center;
  gap: 103.656px;
}

.headerlogo {
  width: 84px;
  height: 63px;
  flex-shrink: 0;
  left: 0.875rem;
  position: absolute;
}

.navbar {
  display: flex;
  padding: 10px 212px;
  justify-content: center;
  align-items: flex-end;
  gap: 3.625rem;
  color: #fff;
}
.nav_option {
  color: #fff;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.53px;
  text-transform: uppercase;
  text-decoration: none;
}
.contact_header {
  display: flex;
  padding: 0.0625rem 0.45994rem 0.0625rem 1.6875rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: row;
}
.btn_before {
  position: absolute;
  right: 13rem;
  /* align-self: flex-start; */
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: linear-gradient(135deg, #9c3fe4 0%, #c65747 100%);
  margin: 0.5rem;
}
.btn_text {
  color: #fff;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.53px;
  text-align: center;
  text-transform: uppercase;
}
.hero {
  background: #141619;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hero_img {
  width: 736px;
  height: 736px;
  flex-shrink: 0;
  background: url(frontend/static/hero_img.png), cover no-repeat;
}
.hero_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 9rem;
}
.mainline {
  width: 697px;
  color: #fff;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  text-align: right;
}
.subline {
  width: 643px;
  color: #e5e5e5;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
  text-align: right;
  margin-top: 2.0625rem;
}
.signin_login_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.herobtn {
  width: 11.9688rem;
  height: 3.625rem;
  border-radius: 2px;
  background: linear-gradient(135deg, #9c3fe4 0%, #c65747 100%);
  /* flex: 1 0 0; */
  color: #fff;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  border: none;
  margin-right: 5rem;
  cursor: pointer;
}
#hero_loginbtn {
  margin-right: 5rem;
}
.hero_blob_img {
  width: 551.226px;
  height: 478.127px;
  transform: rotate(11.8deg);

  flex-shrink: 0;
  position: absolute;
  right: 1rem;
  display: inline-block;
}
.hero_sub_blob_img {
  width: 323.79px;
  height: 314.182px;
  flex-shrink: 0;
  position: absolute;
  right: 0.1rem;
  display: inline-block;
  top: 20rem;
}
.ourmission {
  display: flex;
  padding: 17.75rem 15.875rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ourmission_heading {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 78px;
}
.ourmission_text {
  width: 505.669px;
  color: #e5e5e5;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
}
.ourmission_img {
  position: absolute;
  display: inline-block;
}
.ourmission_blob_one {
  width: 35.44363rem;
  height: 25.06425rem;
  transform: rotate(0.17deg);
  flex-shrink: 0;
  left: 15rem;
  top: 60rem;
  opacity: 0.5;
}
.ourmission_blob_two {
  width: 21.35525rem;
  height: 20.58056rem;
  flex-shrink: 0;
  left: 35rem;
  top: 60rem;

}
.ourmission_blob_three {
  width: 48.25rem;
  height: 47.5rem;
  flex-shrink: 0;
  margin-left: 0;
  padding-left: 0;
  left:1rem;

}

.contactus{
    display: flex;
    position: relative;
    padding: 100px 192px;
    border-top: 1px solid #999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactus_content{
    width: 1056px;
    height: 320px;
}